.text-area {
    -fx-control-inner-background:#F1EEEE;
    -fx-background-color:#000000;
    -fx-font-size:16;
}
#loginTextArea {
    -fx-control-inner-background:#363640;
    -fx-background-color:#000000;
    -fx-text-fill:#FAFAFA;
}